@model List<Message>

@{
    ViewData["Title"] = "Message Board";
}

@using Microsoft.AspNetCore.Identity

<div class="text-center container">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<p>Filter Messages</p>

<form method="get" class="container">
    <div class="row p-2">
        <label for="userFrom" class="control-label">Sender Name</label>
        <input name="userFrom" class="form-control" />
    </div>
    <div class="row p-2">
        <button type="submit" class="form-control">Submit</button>
    </div>
</form>

<form method="get" class="container">
    <div class="row p-2">
        <label for="date" class="control-label">Message Date</label>
        <input name="date" type="date" class="form-control" />
    </div>
    <div class="row p-2">
        <button type="submit" class="form-control">Submit</button>
    </div>
</form>

@if (User.Identity.IsAuthenticated)
{
    <div class="text-center row">
        <a asp-controller="Home" asp-action="Message">Send A Message</a>
    </div>
}

<div class="text-center container" name="messageBoard">
    @foreach (var message in Model)
    {
        @if (message != null)
        {
            <div class="text-center container">
                <p>
                    <div class="row">
                        From: @message.From
                    </div>

                    <div class="row">
                        To: @message.To
                    </div>

                    <div class="row">
                        Subject: @message.Subject
                    </div>

                    <div class="row">
                        Text: @message.Text
                    </div>

                    <div class="row">
                        Priority: @message.Priority
                    </div>

                    <div class="row">
                        Date Sent: @message.Date.ToShortDateString()
                    </div>
                </p>
@*                 <a asp-action="DeleteMessageAsync" asp-route-messageId="@message.MessageId" class="btn-sm link col-3 m-3">Delete Message</a>
 *@                <a asp-action="Reply" asp-route-messageId="@message.MessageId" class="btn-sm link col-3 m-3">Reply</a>

                @if (message.Replies.Count != 0)
                {
                    <p>
                        <a class="btn btn-link" data-toggle="collapse" href="#ReplyCollapse" role="button" aria-expanded="false" aria-controls="ReplyCollapse">
                            View Replies
                        </a>
                    </p>
                    <h5 class="m-3">Reply@(message.Replies.Count > 1 ? "s" : "")</h5>

                    @foreach (Reply reply in message.Replies)
                    {
                        <p>
                            <p class="m-3">@reply.ReplyText</p>
                            <strong class="m-3">By:</strong>
                                @reply.From
                            <strong class="m-3">Date:</strong>
                                @reply.ReplyDate.Date.ToString("dddd, MMMM dd, yyyy")
                            <br />
                        </p>
                    }
                }
                else
                {
                    
                }


            </div>
            <hr />
        }
    }
</div>